*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

section{
    width: 100%;
    height: 700px;
    background-color: rgb(240,242,245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    width: 40%;
    margin-left: -1%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.div1 img{
    width: max-content;
    margin-left: -4%;
    margin-bottom: -1%;
}

.div1 h2{
    width: 88%;
    font-size: 1.8rem;
    font-weight: 400;
    color: #1c1e21;
}

.div2{
    width: 26%;
    height: auto;
    margin-top: -5%;
    margin-left: -3%;
}

.div3{
    border: 1px solid gainsboro;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 0 gainsboro, -1px -1px 8px 0 gainsboro;
    padding: 4%;
    background-color: white;
}

#email{
    width: 100%;
    padding: 4%;
    font-size: 1.1rem;
    font-weight: 400;
    color: #1d2129;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 3%;
}

#pass{
    width: 100%;
    padding: 4%;
    font-size: 1.1rem;
    font-weight: 400;
    color: #1d2129;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 4%;
}

#giriş{
    width: 100%;
    padding: 3%;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #1772E9;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 5%;
    cursor: pointer;
}

.div4{
    text-align: center;
    margin-bottom: 6%;
}

.div4 a{
    font-size: 0.875rem;
    font-weight: 400;
    color: #1877f2; 
    text-decoration: none;
}

.div4:hover{
    text-decoration: underline;
}

hr{
    background-color: gainsboro;
    margin-bottom: 6%;
}

.button{
    width: 100%;
    text-align: center;
}

button{
    width: 50%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #42B72A;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    margin-bottom: 2%;
    cursor: pointer;
}

.div5{
    width: 100%;
    text-align: center;
    margin-top: 7%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #1c1e21;
}

.div5 a{
    font-size: 0.875rem;
    font-weight: 600;
    color: #1c1e21;
    text-decoration: none;
}

.div5 a:hover{
    text-decoration: underline;
}